This directory contains a few files with configurations that are typical for a
given environment. These configurations used to be hard-coded into the
executable of the GNU make. To change the built-in configuration, you had to
edit and recompile the make source code (or at least recompile after changing
compilation options).

You should rename the configuration file that suits your needs to make.conf (or
make.cfg under DOS). The make.conf file must be placed in /etc in Linux and
other Unix-like operating systems; in Microsoft Windows and DOS, it must be
placed in the same directory as the make executable itself.

You can run make without a configuration file, but then you will have no
built-in rules or macros. (You may actually prefer to use only explicit rules
and macros in your makefile).
